* {
    background-image: none;
    font-family: "Quicksand Medium", sans-serif;
    font-size: 16px;
}

window {
    background-color: rgba(23, 19, 11, 0.9);
}

button {
    color: #ebe1d4;
    background-color: rgba(235, 193, 108, 0.3);
    border: 2px solid #d9c4a0;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 10px;
}

button:focus, button:active {
    background-color: rgba(235, 193, 108, 0.6);
    border: 2px solid #b1cfa8;
    outline-style: none;
}

button:hover {
    background-color: rgba(235, 193, 108, 0.5);
    border: 2px solid #d9c4a0;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
    background-color: rgba(235, 193, 108, 0.3);
    border: 2px solid #d9c4a0;
}

#lock:hover {
    background-color: rgba(235, 193, 108, 0.5);
    border: 2px solid #d9c4a0;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}