window {
    margin: 0px;
    border: 2px solid #d9c4a0;
    background-color: rgba(23, 19, 11, 0.95);
    border-radius: 10px;
    font-family: "Quicksand Medium", sans-serif;
    font-size: 16px;
}

#input {
    margin: 5px;
    border: 2px solid #ebc16c;
    color: #ebe1d4;
    background-color: rgba(235, 193, 108, 0.3);
    border-radius: 5px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ebe1d4;
}

#entry:selected {
    background: linear-gradient(90deg, #ebc16c, #d9c4a0);
    border-radius: 5px;
}

#entry:hover {
    background-color: rgba(177, 207, 168, 0.3);
    border-radius: 5px;
}