* {
    background-image: none;
    font-family: "Quicksand Medium", sans-serif;
    font-size: 16px;
}

window {
    background-color: rgba({{colors.surface.default.red}}, {{colors.surface.default.green}}, {{colors.surface.default.blue}}, 0.9);
}

button {
    color: #{{colors.on_surface.default.hex_stripped}};
    background-color: rgba({{colors.primary.default.red}}, {{colors.primary.default.green}}, {{colors.primary.default.blue}}, 0.3);
    border: 2px solid #{{colors.secondary.default.hex_stripped}};
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 10px;
}

button:focus, button:active {
    background-color: rgba({{colors.primary.default.red}}, {{colors.primary.default.green}}, {{colors.primary.default.blue}}, 0.6);
    border: 2px solid #{{colors.tertiary.default.hex_stripped}};
    outline-style: none;
}

button:hover {
    background-color: rgba({{colors.primary.default.red}}, {{colors.primary.default.green}}, {{colors.primary.default.blue}}, 0.5);
    border: 2px solid #{{colors.secondary.default.hex_stripped}};
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
    background-color: rgba({{colors.primary.default.red}}, {{colors.primary.default.green}}, {{colors.primary.default.blue}}, 0.3);
    border: 2px solid #{{colors.secondary.default.hex_stripped}};
}

#lock:hover {
    background-color: rgba({{colors.primary.default.red}}, {{colors.primary.default.green}}, {{colors.primary.default.blue}}, 0.5);
    border: 2px solid #{{colors.secondary.default.hex_stripped}};
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}